<p>Inviter des Vips</p>

<br>

<div [hidden]="submitted">
    <form>

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-3">

                    <div class="form-group">
                        <label for="manifestation">Manifestation :</label>
                        <input type="text" name="manifestation" class="form-control" id="manifestation"
                            [(ngModel)]="manifestationDto.label" readonly>
                    </div>

                    <div class="form-group">
                        <label for="dateDebut">Date de début :</label>
                        <input type="text" name="dateDebut" class="form-control" id="dateDebut"
                            [(ngModel)]="manifestationDto.dateDebut" readonly>
                    </div>

                    <div class="form-group">
                        <label for="dateFin">Date de fin :</label>
                        <input type="text" name="dateFin" class="form-control" id="dateFin"
                            [(ngModel)]="manifestationDto.dateFin" readonly>
                    </div>

                    <div class="form-group">
                        <label for="reservationsVip">Nbre d'invitations Vips :</label>
                        <input type="text" name="reservationsVip" class="form-control" id="reservationsVip"
                            [(ngModel)]="manifestationDto.reservationsVip" readonly>
                    </div>
                </div>
            </div>
        </div>

    </form>
</div>

<button (click)="addVips()" class="btn btn-secondary">Inviter le Vip</button>

<a name="" id="" class="btn btn-secondary" href="#" role="button"
    [routerLink]="['/public/manifestation-list']">Annuler</a>

