<div class="row justify-content-center align-items-center">

    <div [hidden]="submitted">
        <form>
            <h2>Ajouter une réservation</h2>
            <br>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-10">

                        <div class="form-group">
                            <label for="nom">Nom du client :</label>
                            <input type="text" name="nom" class="form-control" id="nom" placeholder="{{userDto.nom}}"
                                readonly>
                        </div>

                        <div class="form-group">
                            <label for="dateReservation">Date de reservation :</label>
                            <input type="date" name="dateReservation" class="form-control" id="dateReservation"
                                placeholder="{{today | date:'d/MM/yyyy'}}"   [(ngModel)]="reservationDto.dateReservation">
                        </div>
<!-- 
                        <div class="form-group">
                            <label for="dateReservation">Date de reservation :</label>
                            <input type="text" name="dateReservation" class="form-control" id="dateReservation"
                                placeholder="{{today | date:'d/MM/yyyy'}}"  [(ngModel)]="reservationDto.dateReservation" readonly>
                        </div> -->

                        <div class="form-group">
                            <label for="manifestation">Manifestation :</label>
                            <input type="text" name="manifestation" class="form-control" id="manifestation"
                                [(ngModel)]="manifestationDto.label" readonly>
                        </div>

                        <div class="form-group">
                            <label for="prix">Prix du billet (en €) :</label>
                            <input type="text" name="prix" class="form-control" id="prix"
                                placeholder="{{manifestationDto.prixBillet|number:'.0-2'}}" readonly>
                        </div>

                        <div class="form-group">
                            <label for="nbreBillets">Nombre de billets:</label>
                            <input type="number" name="nbreBillets" class="form-control" id="nbreBillets"
                                placeholder="Entrer le nombre" [(ngModel)]="quantite" min="1">
                        </div>

                    </div>
                </div>
                <a name="" id="" class="btn btn-secondary" href="#" role="button"
                    [routerLink]="['/public/manifestation-list']">
                    <fa-icon class="icon p-2" [icon]="faHome" title="Annuler">Annuler</fa-icon>
                </a>
                &nbsp;
                <button (click)="add()" class="btn btn-primary">
                    <fa-icon class="icon p-2" [icon]="faCalendarPlus" title="Réserver une place">Réserver une place
                    </fa-icon>
                </button>

            </div>

        </form>
    </div>
</div>