<h3>Ajouter un type de salle</h3>


<div [hidden]="submitted" style="width: 400px;">
    <form>

        <div class="form-group">
            <label for="name">Nouveau type</label>
            <input type="text" class="form-control" id="label" required [(ngModel)]="typeSalle" name="typeSalleLabel">
        </div>

        <a name="" id="" class="btn btn-dark" href="#" role="button" [routerLink]="['/typesalle-list']">Annuler</a>

        <button (click)="add()" class="btn btn-dark" [disabled]="typeSalle.length==0">Ajouter</button>

    </form>
</div>