<nav class="navbar navbar-expand-sm navbar-dark bg-secondary">

    <ul class="navbar-nav">
        <li class="nav-item">
            <a routerLink='' class="nav-link" routerLinkActive=active>Home</a>
        </li>

        <li *ngIf="isConnected"  class="nav-item">
            <a routerLink='user-list' class="nav-link" routerLinkActive=active>User</a>
        </li>

        <li class="nav-item">
            <a routerLink='typesalle-list' class="nav-link" routerLinkActive=active>Types de salle</a>
        </li>
        
        <li class="nav-item">
            <a routerLink='salle-list' class="nav-link" routerLinkActive=active>Salle</a>
        </li>

        <li class="nav-item">
            <a routerLink='animation-list' class="nav-link" routerLinkActive=active>Animation</a>
        </li>

        <li class="nav-item">
            <a routerLink='manifestation-list' class="nav-link" routerLinkActive=active>Manifestation</a>
        </li>
        
        <li  *ngIf="isConnected"  class="nav-item">
            <a routerLink='panier-list' class="nav-link" routerLinkActive=active>Panier</a>
        </li>
           
        <li  *ngIf="isConnected"  class="nav-item">
            <a routerLink='role-list' class="nav-link" routerLinkActive=active>Role</a>
        </li>

        <li  *ngIf="isConnected"  class="nav-item">
            <a routerLink='vip-list' class="nav-link" routerLinkActive=active>Vip</a>
        </li>
              
        <li *ngIf="!isConnected" class="nav-item">
            <a routerLink='login' class="nav-link" routerLinkActive=active>Login</a>
        </li>

        <li *ngIf="isConnected" class="nav-item">
            <a (click)="logout()" class="nav-link" routerLinkActive=active>Logout</a>
        </li>
             
    </ul>
        <p class="nav-link">User : {{user}} | Role : {{role}} </p>  
       
</nav>