<div class="panel-body">
    <table class="table table-striped table-bordered ">
        <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Date validation</th>
                <th>numClient</th>
                <th>Commandes</th>
                <th>Prix total</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>{{panierDto.id}}</td>
                <td>{{panierDto.dateValidation}}</td>
                <td>{{userDto.numClient}}</td>
                <td>
                    <ul>
                        <li *ngFor="let commande of listCommandes" class="list-group">
                            {{commande.manifestation.label}}
                            {{commande.quantite}}
                        </li>
                    </ul>
                </td>
                <td>{{panierDto.total}}</td>
                <td> <button (click)="delete(commande.id)" class="btn btn-sm btn-danger">Delete</button></td>
            </tr>
        </tbody>
    </table>
    <br>
    <br>

    <button (click)="cancel(panierDto.id)" class="btn btn-secondary">Annuler le panier</button>

    <a name="" id="" class="btn btn-secondary" href="#" role="button"
        [routerLink]="['/public/manifestation-list']">Ajouter un article au panier</a>

    <a name="" id="" class="btn btn-secondary" href="#" role="button" [routerLink]="['/public']">Valider le panier</a>